.navbar {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 1s ease-in, display 0s 4s;
  transform: translateX(100%);
  background-color: white;
}

.navbar.active {
  display: block;
  transform: translateX(0);
}
